@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #FFFFFC;
}

@media (max-width: 768px) {
  main .home {
    justify-content: center;
  }

  main .home .conteiner {
    align-content: flex-start;
  }

  main .home .conteiner h1 {
    margin-top: 60px;
    width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1440px) {
  .home {
    display: flex;
    justify-content: center;
  }
  .home .conteiner h1 {
    font-size: 4rem;
  }
}
header {
  background-color: #181818;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 3rem;
}
header .conteiner-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
}
header .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header a {
  padding: 10px;
  font-size: 2rem;
  color: #FFFFFC;
}
header a:hover {
  color: #FE0000;
}

main {
  overflow: hidden;
  min-height: auto;
}
main .scroll {
  width: 100px;
  height: auto;
}
main .scroll .menu-sc {
  position: fixed;
  right: 20px;
  bottom: 250px;
  max-width: 90px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1E1E1E;
  border-radius: 30px;
}
main .scroll .menu-sc a {
  padding: 20px;
  margin: 5px 0px;
  transform: rotate(90deg);
  font-size: 20px;
}
main .scroll .menu-sc a:hover {
  color: #FE0000;
}
main .home {
  width: 100%;
  height: 100vh;
  background: black no-repeat url("../img/img-about-grande.jpg") center center scroll;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #5A595B;
}
main .home .conteiner {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
main .home h1 {
  font-size: 5rem;
}
main .about {
  background-color: #181818;
  width: 100%;
  min-height: 100vh;
  background: url("../img/texture.jpg") center center no-repeat scroll;
  background-size: cover;
}
main .about .conteiner-ab {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: "tl tl" "tx tx";
  justify-items: center;
  align-items: center;
}
main .about .conteiner-ab ul {
  width: auto;
  height: auto;
  font-size: 3rem;
  align-self: start;
  line-height: 80px;
  grid-area: tx;
  list-style-position: inside;
  background-color: #0000003a;
  border-radius: 50px;
  padding: 40px;
  list-style-type: circle;
}
main .skills {
  width: 100%;
  height: 100vh;
  background: url("../img/img-skills-medio.jpg") no-repeat center center scroll;
  background-size: cover;
  padding: 30px 0px;
}
main .skills .cnt-sk {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  grid-template-columns: 1fr;
  grid-template-areas: "h1 h1" "sk img" "sk img";
  gap: 10px 40px;
}
main .skills h1 {
  font-size: 4rem;
  grid-area: h1;
  justify-self: center;
  align-self: center;
}
main .skills .conteiner-img {
  align-self: center;
  grid-area: img;
}
main .skills .conteiner {
  grid-area: sk;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
main .skills .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 250px;
  border-radius: 50px;
  background-color: #1E1E1E;
  border: solid 2px #FE0000;
}
main .project {
  width: 100%;
  height: 100vh;
  background: url("../img/project.jpg") no-repeat center center scroll;
  background-size: cover;
  padding: 30px 0px;
}
main .project .cnt-pj {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}
main .project h1 {
  font-size: 4rem;
}
main .project .conteiner {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .project .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-height: 350px;
  border-radius: 50px;
  border: solid 2px #FE0000;
  background-color: #000000a2;
  margin: 30px 0px;
}
main .project a {
  line-height: 60px;
  font-weight: 400;
  font-size: 2rem;
  font-family: "roboto";
}
main .project .card:hover {
  background-color: #181818;
  border: solid 2px #FFFFFC;
}
main .project a:hover {
  color: #FE0000;
}
main .contact {
  width: 100%;
  height: 100vh;
  background: url("../img/project2.jpg") no-repeat center center scroll;
  background-size: cover;
}
main .contact .cnt-ct {
  margin: 0 auto;
  width: 1440px;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "tl tl" "img fm";
  grid-gap: 50px;
  justify-items: center;
  align-items: start;
}
main .contact h1 {
  grid-area: tl;
  align-self: center;
  margin: 40px;
  font-size: 4rem;
}
main .contact img {
  grid-area: img;
}
main .contact form {
  grid-area: fm;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 100px 10% 100px;
  grid-template-columns: 40% 60%;
  grid-template-areas: "name email" "obj obj" "msg msg" "btn btn";
  grid-gap: 50px;
}
main .contact form .name {
  grid-area: name;
  border-radius: 50px;
  background-color: #5A595B;
  color: #FFFFFC;
  font-size: 2rem;
  padding: 5px 20px;
  outline: 2px solid #FFFFFC;
}
main .contact form .email {
  grid-area: email;
  border-radius: 50px;
  background-color: #5A595B;
  color: #FFFFFC;
  font-size: 2rem;
  padding: 5px 20px;
  outline: 2px solid #FFFFFC;
}
main .contact form .obj {
  grid-area: obj;
  border-radius: 50px;
  background-color: #5A595B;
  color: #FFFFFC;
  font-size: 2rem;
  padding: 5px 20px;
  outline: 2px solid #FFFFFC;
  padding-top: 25px;
}
main .contact form #msg {
  grid-area: msg;
  border-radius: 50px;
  background-color: #5A595B;
  color: #FFFFFC;
  font-size: 2rem;
  padding: 5px 20px;
  outline: 2px solid #FFFFFC;
  padding-top: 25px;
}
main .contact form .btn {
  grid-area: btn;
  border-radius: 50px;
  background-color: #1E1E1E;
  width: 200px;
  height: 100px;
  color: #FFFFFC;
  font-size: 2rem;
  justify-self: end;
  align-self: center;
  border: solid 2px #FE0000;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 700;
}
main .contact form .btn:hover {
  background-color: #FE0000;
  border: solid 2px #FFFFFC;
  color: #181818;
}

.link-vertical {
  position: fixed;
  left: 20px;
  bottom: 250px;
  max-width: 90px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #1E1E1E;
  border-radius: 30px;
}
.link-vertical a {
  padding: 10px;
}
.link-vertical img {
  border: 2px solid #1E1E1E;
  border-radius: 50%;
}
.link-vertical img:hover {
  border: 2px solid #FFFFFC;
}

footer {
  min-height: 10vh;
  background-color: #181818;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer h1 {
  font-size: 2rem;
  color: #FFFFFC;
}

/*# sourceMappingURL=style.css.map */
