@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #F0F0F2;
}

header {
  background-color: #010D26;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 3rem;
}
header .conteiner-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
header .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header a {
  padding: 10px;
  font-size: 2rem;
  color: #F0F0F2;
}
header a:hover {
  color: #93BF34;
}

main {
  overflow: hidden;
}
main .about {
  width: 100%;
  min-height: 100vh;
  background: black no-repeat url("../img/img-about-media.jpg") center center scroll;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .about .conteiner {
  position: absolute;
  top: 300px;
  left: 100px;
}
main .about img {
  display: none;
}
main .about h1 {
  font-size: 4rem;
  margin-bottom: 40px;
}
main .about ul {
  line-height: 80px;
}
main .about li {
  font-size: 2rem;
}
main .project {
  width: 100%;
  min-height: 100vh;
  background-color: #021740;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
main .project h1 {
  font-size: 4rem;
}
main .project .conteiner {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .project .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-height: 350px;
  border-radius: 50px;
  border: solid 2px #fff;
  background-color: #93BF34;
  margin: 30px 0px;
}
main .project .card:hover {
  background-color: #00000077;
}
main .skills {
  width: 100%;
  min-height: 100vh;
  background: black no-repeat url("../img/img-skills-medio.jpg") center center scroll;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
main .skills h1 {
  margin: 40px;
  font-size: 4rem;
}
main .skills .conteiner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
main .skills .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 350px;
  border-radius: 50px;
  background-color: #00000056;
  border: solid 2px #93BF34;
  margin-bottom: 50px;
}
main .contact {
  width: 100%;
  height: 100vh;
  background-color: #021740;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
main .contact h1 {
  margin: 40px;
  font-size: 4rem;
}
main .contact .conteiner {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .contact a {
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid 3px #021740;
}
main .contact a:hover {
  border-color: #F0F0F2;
}

footer {
  min-height: 50vh;
  background-color: #010D26;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer h1 {
  font-size: 2rem;
  color: #F0F0F2;
}

/*# sourceMappingURL=style.css.map */
