@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;   
    font-family: 'Roboto', sans-serif; 
}

:root{
    --waith: #F0F0F2;
    --blue3: #010D26;
    --blue2: #021740;
    --blue1: #1E5CD9;
    --green: #93BF34;

    --fontRoboto: 'Roboto', sans-serif; 

    --font1: 4em;
    --font2: 3em;
    --font3: 2em;
    --font4: 1em;
}

.body-text{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* header --------------------------------------------- */
header{
    width: 100%;
    height: 100px;
    background-color: var(--blue3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-header{
    color: var(--waith);
    font-size: var(--font2);
    font-family: var(--fontRoboto);
    margin-left: 20px;
}

.menu-header{
    width: 46px;
    height: 34px;
    background-color: transparent;
    margin-right: 20px;
}

.menu-header .line{
    background-color: var(--green);
    width: 28px;
    margin: 5px;
    border: 3px solid var(--green);}

/* about ------------------------------------------------- */
.about{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.title-about {
    font-family: var(--fontRoboto);
    font-size: var(--font2);
    font-weight: bold;
    margin-top: 20px;
    color: var(--blue2);
    overflow: hidden;
}

.about img{
    margin-top: 20px;

}

.text-about{
    margin-top: 20px;
    list-style-type: disc;
    font-family: var(--fontRoboto);
    font-size: var(--font3);
    color: var(--blue2);
    margin-left: 20px;
    border: solid 2px var(--blue1);
    border-radius: 20px;
}

.text-about ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style-position: inside;
}

.text-about ul li{
    margin-bottom: 10px;
}

/* skills ------------------------------------------------- */
.skills{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.titlesk{
    font-size: var(--font1);
    font-family: var(--fontRoboto);
    color: var(--blue2);
    font-weight: bold;
    text-align: center;
}

.skills .conteiner{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.skills .sk {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--blue1);
    padding: 10px;

} 

/* projetos ------------------------------------------------- */
.projetos{

    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
}

.projetos .title-pj{
    font-family: var(--fontRoboto);
    font-size: var(--font1);
    font-weight: bold;
    color: var(--blue2);
}

.projetos .pj{
    width: 180px;
    height: 180px;
    border: solid 2px var(--blue1);
    cursor: pointer;
}

/* contatic ------------------------------------------------- */
.contact{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows:  repeat(3, 3fr);
    gap: 20px;
}
.contact .title-ct{
    font-family: var(--fontRoboto);
    font-size: var(--font1);
    font-weight: bold;
    color: var(--blue2);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact a{
    width: 80px;
    height: 80px;
    border: solid var(--blue1) 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

/* footer ------------------------------------------------- */
footer{
    width: 100%;
    height: 150px;
    background-color: var(--blue3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer .copyhight{
    color: var(--waith);
    font-size: var(--font2);
    font-family: var(--fontRoboto);
    font-weight: bold;
    width: 100%;
    overflow: hidden;
}

#green{
    color: var(--green);
    border: solid 2px var(--green);
}

p{
    color: var(--green);
    display: inline;
}

