@use 'config'

header
    z-index: 999
    background-color: #0000007a
    width: 100%
    height: 10vh
    @include config.flex()
    position: absolute
    top: 0
    left: 0
    justify-content: center

.conteiner-header
    @include config.flex()

    justify-content: space-between
    width: 90%

    h1
        font-size: config.$s2

    

    .menu
        @include config.flex()

        a
            padding: 10px
            font-size: config.$s1
            color: config.$c3

        a:hover
            color: config.$c5

        i
            width: auto
            height: auto

        .icon-theme .lua
            display: none

        
        .icon-theme .lua.on
            display: block

        .icon-theme .sol.off
            display: none
        


    button
        display: none

.dark
    background-color: config.$c3

