@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap')

$c1: #F0F0F2
$c2: #010D26
$c3: #021740
$c4: #1E5CD9
$c5: #93BF34

$roboto: 'Roboto', sans-serif

$s1: 1rem
$s2: 2rem
$s3: 3rem
$s4: 4rem

$shadow: 2px 2px 5px rgba(0, 0, 0, 0.603), -2px -2px 5px rgba(0, 0, 0, 0.521)

//configuracao geral
*
    margin: 0
    padding: 0
    text-decoration: none
    font-family: 'Roboto', sans-serif
    color: $c1
