@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')

$c1: #181818
$c2: #1E1E1E
$c3: #FFFFFC
$c4: #5A595B
$c5: #FE0000

$subtitle: 'Roboto', sans-serif
$title: 'Cookie', cursive
$titleGeral: 'Bebas Neue', cursive

$s1: 1rem
$s2: 2rem
$s3: 3rem
$s4: 4rem
$s5: 5rem

$shadow: 2px 2px 5px rgba(0, 0, 0, 0.603), -2px -2px 5px rgba(0, 0, 0, 0.521)

//configuracao geral
*
    margin: 0
    padding: 0
    text-decoration: none
    font-family: $subtitle
    color: $c3

    

body
    // overflow-x: hidden
    // overflow-y: hidden
    background-color: $c1