@use 'var'

@mixin flex()
    display: flex
    flex-wrap: wrap
    align-items: center

@mixin config-iten-form
    border-radius: 50px
    background-color: var.$c4
    color: var.$c3
    font-size: var.$s2
    padding: 5px 20px
    outline: 2px solid var.$c3

body
    overflow-x: hidden
    overflow-y: hidden

header
    background-color: var.$c1
    width: 100%
    min-height: 10vh
    @include flex()
    justify-content: center

    h1
        font-size: var.$s3

    .conteiner-header
        @include flex()
        justify-content: center
        width: 90%

    .menu
        @include flex()

    a
        padding: 10px
        font-size: var.$s2
        color: var.$c3

    a:hover
        color: var.$c5

main
    overflow: hidden
    min-height: auto

    .scroll
        width: 100px
        height: auto

        .menu-sc
            position: fixed
            right: 20px
            bottom: 250px
            max-width: 90px
            min-height: 500px
            @include flex()
            flex-direction: column
            justify-content: space-evenly
            align-items: center
            background-color: var.$c2
            border-radius: 30px

            a
                padding: 20px
                margin: 5px 0px
                transform: rotate(90deg)
                font-size: 20px

            a:hover
                color: var.$c5

    .home
        width: 100%
        height: 100vh
        background: black no-repeat url("../img/img-about-grande.jpg") center center scroll
        background-size: cover
        width: 100%
        height: 100vh
        background-color: var.$c4
        // filter: blur(3px)

        .conteiner
            max-width: 1440px
            margin: 0 auto
            height: 100%
            @include flex()
            justify-content: flex-start

        h1
            font-size: var.$s5

    .about
        background-color: var.$c1
        width: 100%
        min-height: 100vh
        background: url('../img/texture.jpg') center center no-repeat scroll
        background-size: cover

        .conteiner-ab
            width: 1440px
            height: 100vh
            margin: 0 auto
            display: grid
            grid-template-rows: 1fr 2fr
            grid-template-columns: 1fr
            grid-template-areas: 'tl tl' 'tx tx'
            justify-items: center
            align-items: center

            ul
                width: auto
                height: auto
                font-size: var.$s3
                align-self: start
                line-height: 80px
                grid-area: tx
                list-style-position: inside
                background-color: #0000003a
                border-radius: 50px
                padding: 40px

                list-style-type: circle

    .skills
        width: 100%
        height: 100vh
        background: url('../img/img-skills-medio.jpg') no-repeat center center scroll
        background-size: cover
        padding: 30px 0px

        .cnt-sk
            max-width: 1440px
            margin: 0 auto
            min-height: 100vh
            display: grid
            grid-template-rows: 0.5fr 5fr
            grid-template-columns: 1fr
            grid-template-areas: 'h1 h1' "sk img" "sk img"
            gap: 10px 40px

        h1
            font-size: var.$s4
            grid-area: h1
            justify-self: center
            align-self: center

        .conteiner-img
            align-self: center
            grid-area: img

        .conteiner
            grid-area: sk
            @include flex()
            width: 100%
            height: 100%
            justify-content: space-evenly
            align-items: center
            align-content: space-evenly

        .card
            @include flex()
            justify-content: center
            min-width: 200px
            min-height: 250px
            border-radius: 50px
            background-color: var.$c2
            border: solid 2px var.$c5

    .project
        width: 100%
        height: 100vh
        background: url('../img/project.jpg') no-repeat center center scroll
        background-size: cover
        padding: 30px 0px

        .cnt-pj
            @include flex()
            max-width: 1440px
            margin: 0 auto
            min-height: 100vh
            flex-direction: column
            justify-content: space-evenly

        h1
            font-size: var.$s4

        .conteiner
            width: 80%
            @include flex()
            justify-content: space-between

        .card
            @include flex()
            justify-content: center
            width: 300px
            min-height: 350px
            border-radius: 50px
            border: solid 2px var.$c5
            background-color: #000000a2
            margin: 30px 0px

        a
            line-height: 60px
            font-weight: 400
            font-size: var.$s2
            font-family: 'roboto'

        .card:hover
            background-color: var.$c1
            border: solid 2px var.$c3

        a:hover
            color: var.$c5

    .contact
        width: 100%
        height: 100vh
        background: url('../img/project2.jpg') no-repeat center center scroll
        background-size: cover

        .cnt-ct
            margin: 0 auto
            width: 1440px
            height: 100vh
            display: grid
            grid-template-rows: 150px 1fr
            grid-template-columns: 1fr 2fr
            grid-template-areas: 'tl tl' 'img fm'
            grid-gap: 50px
            justify-items: center
            align-items: start

        h1
            grid-area: tl
            align-self: center
            margin: 40px
            font-size: var.$s4

        img
            grid-area: img

        form
            grid-area: fm
            width: 100%
            display: grid
            grid-template-rows: 100px 100px 10% 100px
            grid-template-columns: 40% 60%
            grid-template-areas: 'name email' 'obj obj' 'msg msg' 'btn btn'
            grid-gap: 50px

            .name
                grid-area: name
                @include config-iten-form

            .email
                grid-area: email
                @include config-iten-form

            .obj
                grid-area: obj
                @include config-iten-form
                padding-top: 25px

            #msg
                grid-area: msg
                @include config-iten-form
                padding-top: 25px

            .btn
                grid-area: btn
                border-radius: 50px
                background-color: var.$c2
                width: 200px
                height: 100px
                color: var.$c3
                font-size: var.$s2
                justify-self: end
                align-self: center
                border: solid 2px var.$c5
                cursor: pointer
                transition-duration: 0.5s
                font-weight: 700

            .btn:hover
                background-color: var.$c5
                border: solid 2px var.$c3
                color: var.$c1

.link-vertical
    position: fixed
    left: 20px
    bottom: 250px
    max-width: 90px
    min-height: 500px
    @include flex()
    flex-direction: column
    justify-content: space-between
    align-items: center
    list-style: none
    background-color: var.$c2
    border-radius: 30px

    a
        padding: 10px

    img
        border: 2px solid var.$c2
        border-radius: 50%

    img:hover
        border: 2px solid var.$c3

footer
    min-height: 10vh
    background-color: var.$c1
    @include flex()
    justify-content: center

    h1
        font-size: var.$s2
        color: var.$c3
