@use 'var'

@mixin flex()
    display: flex
    flex-wrap: wrap
    align-items: center

header
    background-color: var.$c1
    width: 100%
    min-height: 10vh

    @include flex()
    justify-content: center

    h1
        font-size: var.$s3

    .conteiner-header
        @include flex()
        justify-content: space-between
        width: 90%

    .menu
        @include flex()

    a
        padding: 10px
        font-size: var.$s2
        color: var.$c3

    a:hover
        color: var.$c5

main
    overflow: hidden

    .intro
        width: 100%
        height: 100vh
        background: black no-repeat url("../img/img-about-grande.jpg") center center scroll
        background-size: cover

        h1
            width: 1440px
            margin: 0 auto
            font-size: var.$s4
            margin-bottom: 40px
            background-color: var.$c1

    .about
        width: 100%
        height: 100vh
        background-color: var.$c4
        // filter: blur(3px)
        .cnt-ab
            width: 1440px
            margin: 0 auto
            min-height: 100vh
            position: relative

        .conteiner
            position: absolute
            top: 350px

        img
            display: none

        ul
            line-height: 80px
        li
            font-size: var.$s3

    .skills
        width: 100%
        height: 100vh
        background-color: var.$c2
        padding: 30px 0px

        .cnt-sk
            max-width: 1440px
            margin: 0 auto
            min-height: 100vh
            display: grid
            grid-template-rows: 0.5fr 5fr
            grid-template-columns: 3fr 1fr
            grid-template-areas: 'h1 h1' "sk img" "sk img"
            gap: 10px 40px

        h1
            font-size: var.$s4
            grid-area: h1
            justify-self: center
            align-self: center

        .conteiner-img
            align-self: center
            grid-area: img

        .conteiner
            grid-area: sk
            @include flex()
            width: 100%
            height: 100%
            justify-content: space-evenly
            align-items: center
            align-content: space-evenly

        .card
            @include flex()
            justify-content: center
            min-width: 200px
            min-height: 250px
            border-radius: 50px
            background-color: var.$c2
            border: solid 2px var.$c5

    .project
        width: 100%
        height: 100vh
        background: url('../img/img-skills-medio.jpg') no-repeat center center scroll
        background-size: cover
        padding: 30px 0px

        .cnt-pj
            @include flex()
            max-width: 1440px
            margin: 0 auto
            min-height: 100vh
            flex-direction: column
            justify-content: space-evenly

        h1
            font-size: var.$s4

        .conteiner
            width: 80%
            @include flex()
            justify-content: space-between

        .card
            @include flex()
            justify-content: center
            width: 300px
            min-height: 350px
            border-radius: 50px
            border: solid 2px var.$c5
            background-color: #00000054
            margin: 30px 0px

        a
            line-height: 60px
            font-weight: 400
            font-size: var.$s2
            font-family: 'roboto'

        .card:hover
            background-color: var.$c1
            border: solid 2px var.$c3

        a:hover
            color: var.$c5

    .contact
        width: 100%
        height: 100vh
        background-color: var.$c2

        .cnt-ct
            margin: 0 auto
            width: 1440px
            height: 100vh
            display: grid
            grid-template-rows: 200px 1fr
            grid-template-columns: 1fr 2fr
            grid-template-areas: 'tl tl' 'img fm'
            grid-gap: 50px
            justify-items: center
            align-items: start

        h1
            grid-area: tl
            align-self: center
            margin: 40px
            font-size: var.$s4

        img
            grid-area: img

        form
            grid-area: fm
            width: 100%
            display: grid
            grid-template-rows: 100px 100px 100px 100px
            grid-template-columns: 0.5fr 1fr
            grid-template-areas: 'name email' 'obj obj' 'msg msg' 'btn btn'
            grid-gap: 50px

            .name
                grid-area: name
                border-radius: 50px
                background-color: var.$c4
                color: var.$c1
                font-size: var.$s2

            .email
                grid-area: email
                border-radius: 50px
                background-color: var.$c4
                color: var.$c1
                font-size: var.$s2

            .obj
                grid-area: obj
                border-radius: 50px
                background-color: var.$c4
                color: var.$c1
                font-size: var.$s2

            .mgs
                grid-area: msg
                border-radius: 50px
                background-color: var.$c4
                color: var.$c1
                font-size: var.$s2

            .btn
                grid-area: btn
                border-radius: 50px
                background-color: var.$c2
                width: 200px
                height: 100px
                color: var.$c3
                font-size: var.$s2
                justify-self: end
                align-self: center
                border: solid 2px var.$c5
                cursor: pointer
                transition-duration: 0.5s

            .btn:hover
                background-color: var.$c5
                border: solid 2px var.$c3

.link-vertical
    position: fixed
    left: 20px
    bottom: 50px
    max-width: 100px
    min-height: 300px
    @include flex()
    flex-direction: column
    justify-content: space-between
    align-items: center
    list-style: none
    background-color: #0000005b
    border-radius: 30px

    a
        padding: 20px

    img
        border: 2px solid var.$c2
        border-radius: 50%

    img:hover
        border: 2px solid var.$c5

footer
    min-height: 50vh
    background-color: var.$c1
    @include flex()
    justify-content: center

    h1
        font-size: var.$s3
        color: var.$c3
